extends layout

block content
  h1 Index lol
  p Welcome to some nice shit
  a(href='/delete') Delete Thread
  br
  a(href='/newthread') New Thread

  ul
    each post, i in posts
      li
        a(href="thread/#{post._id}")
          //span #{post._id} >>>> #{post.op} >>>> #{post.postContent}
          span #{post._id} >>>> #{post.op} >>>> #{post.postTitle}: #{post.postContent}