extends layout

block content
  h1 Index lol
  p Welcome to some nice shit
  a(href='/delete') Delete Thread
  br
  a(href='/newthread') New Thread
  ul
    each post, i in posts
      li
        span #{post._id} ::::: #{post.a} #{post.b} #{post.op} #{post.postContent}