extends layout

block content
  h1 Index lol
  p Welcome to some nice shit
  a(href='/delete') Delete Thread
  br
  a(href='/newthread') New Thread


    each post, i in posts

        .thread
          a(href="thread/#{post._id}")
            //span #{post._id} >>>> #{post.op} >>>> #{post.postContent}

            span#postTitle #{post.postTitle}
          | &nbsp;created at&nbsp;
          span#createdAt #{post.createdAt}
          //#{post.bumpedAt}> >>>>
          | &nbsp;by&nbsp;
          span#op #{post.op}
          br
          span#content #{post.postContent}