extends layout

block content
  h1= title
    br
    h2 >> #{posts.postTitle}

  a(href='/') Back to Index
  p
    span Posted by:&nbsp;
    span#opName #{posts.op}
    | &nbsp;on&nbsp;
    span#postTime #{posts.createdAt}
  .post
    p#postContent #{posts.postContent}

  - var comments = posts.comments
  if posts.comments

      each comment, i in posts.comments
        .commentBody
          span#commentCounter #{i+1}&nbsp;
          span#commentAuthor #{comment.author} &nbsp;
          span#commentDate (#{comment.posted})
          br

          br
          span#commentText #{comment.comment}
  else
    span No Comments yet!

  .newComment
    form#newComment(name="newComment",method="post",action="/newcomment")
      input#threadId(type="hidden",value="#{posts._id}", name="threadid")
      input#username(type="text",placeholder="Your Name (optional)", name="username")
      br
      textarea#comment(rows="4", placeholder="Your Comment", name="commentContent")
      br
      button#newComment(type="submit") submit